ErrorDocument 404 /404

RewriteEngine On
RewriteRule ^blog/threadreader/?$ /posts/category/threadreader [L,R=301]
RewriteRule ^blog/vr/?$ /posts/tags/vr [L,R=301]
RewriteRule ^blog/([0-9]+)/([0-9]+)/([0-9]+)/(.+?)\.html$ /$1/$2/$3/$4 [L,R=301]
